@import "tailwindcss";


@theme inline {
  --font-sans : var(--font-open-sans) ;
  --font-podcast : var(--font-podcast) ;
  --spacing-authMw : 488px ;
  --spacing-authYPadding : 59px ;
  --spacing-whiteSpacing : 250px ;
  --color-brandOrange : #FA8B02 ;
  --color-gray600 : #FFFFFF33 ;
  --color-gray333: #333333 ; 
  --color-pink200 : #FFFFFF4D ;
}

